[Unit]
Description=PiPlayer Rust UI (Slint)
After=music-player.service
Requires=music-player.service

[Service]
Type=simple
User=javi
WorkingDirectory=/home/javi/player/ui
# Asignamos una sesión de login para que libseat pueda activar el hardware
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

# Grupos necesarios para hardware directo
SupplementaryGroups=video render input

# Variables para Slint
Environment="SLINT_BACKEND=linuxkms"
Environment="SLINT_FULLSCREEN=1"
Environment="RUST_LOG=warn"

ExecStart=/home/javi/player/ui/ui
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
